# 環境設定ファイル
.env

# PHPのデバッグファイル
*.log
error_log

# エディタの設定ファイル
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS生成ファイル
.DS_Store
Thumbs.db

# Googleサービスアカウントの認証情報
*.json
curious-subject-423402-k5-a94bf9c8c963.json
